config.php
uploads/products/*
!uploads/products/.gitkeep
uploads/bots/*
!uploads/bots/.gitkeep
uploads/apps/*
!uploads/apps/.gitkeep
uploads/banners/*
!uploads/banners/.gitkeep
pages/*.html
!pages/.gitkeep
*.sqlite
*.log
/sw.js
